/*font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;*/

#content {
    margin: 0 auto;
    width: 65%;
}

h1 {
    font-size: 40px;
    font-family: 'Lora', serif;
}

h3, h4, h5 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
    margin: 5px auto;
}

h5 {
    font-size: 16px;
    margin: 5px auto;
    margin-bottom: 30px;
}

body {
    font-family: 'Lora', serif;
    background-color: #FDF2FC;
}

a:visited {
    color: #c6019f;
}

.topper-image {
    width: 100%;
}

.image-wrapper p.caption {
    margin-top: 0;
    color: grey;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.image-wrapper.right p.caption {
    padding: 15px;
    max-width: 300px;
    padding: 2px;
}

.image-wrapper img{
    width:100%;
}

.image-wrapper.topper-image {
    margin: 0;
}

.image-wrapper {
    margin: 35px 0;
}

.image-wrapper.right {
    float: right;
    margin: 2px;
}

p.footer {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.right img {
    width: 100%;
    max-width: 300px;
    padding: 15px;
}
